<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>975754215068-5t9uufi3v1h9sqobfg956je6803hrerv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975754215068-5t9uufi3v1h9sqobfg956je6803hrerv</string>
	<key>API_KEY</key>
	<string>AIzaSyDyD_sYLoI0VEymriprXIAiSupGp8rX92k</string>
	<key>GCM_SENDER_ID</key>
	<string>975754215068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bluepinapp.bluepin</string>
	<key>PROJECT_ID</key>
	<string>bluepin-96060</string>
	<key>STORAGE_BUCKET</key>
	<string>bluepin-96060.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:975754215068:ios:cf05a373fc3e9c5d</string>
	<key>DATABASE_URL</key>
	<string>https://bluepin-96060.firebaseio.com</string>
</dict>
</plist>